.button {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 8px;
    border: 0;
}

.icon--setting {
    background-image: url(./img/settings.svg);
}

.icon--search {
    background-image: url(./img/search.svg);
}

.icon--burger {
    background-image: url(./img/burger.svg);
}

.icon--call {
    background-image: url(./img/call.svg);
}

.icon--chat {
    background-image: url(./img/chat.svg);
}

.icon--profile {
    background-image: url(./img/profile.svg);
}