@media (min-width: 768px) and (max-width: 1119.98px) {
    .main {
        height: 416px;
        width: 100%;
        background-color: #f8f8f8;
        overflow: hidden;
    }

    .header__front-side {
        width: 180%;
    }

    .header--flex768 {
        display: flex;
        justify-content: stretch;
        margin: 8px;
    }

    .header__front-side--separator {
        display: block;
    }

    .header__button-burger {
        margin-left: 24px;
    }

    .header__feedback {
        display: flex;
        justify-content: space-evenly;
    }

    .header__front-side--wrapper-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-right: 16px;
    }

    .main--space {
        display: block;
    }

    .main__discription--part-two {
        display: inherit;
    }

    .main__wrapper-content {
        display: flex;
    }

    .main__wrapper-signboard {
        margin-right: 25px;
        border-radius: 2px;
    }

}